.background{
  background-color: rgb(95, 95, 175) ;
}
.bookcontainer{
  align-self: center;
  width: auto;
  height: auto;
  background-color:coral;
  border-radius: 5%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;

}
.encabezado {
    height: 50px;
    background-color: rgb(41, 39, 39);
  }
.contenedor {
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }

.pie {
    background-color: rgb(35, 55, 122);
  }
