/* Colores 
navegacion  rgb(41, 39, 39)
fondo       rgb(141, 141, 211)
item        rgba(126, 52, 211, 0.822)
*/


.background {
  background-color: rgb(141, 141, 211);
  justify-content: center;
  color: aliceblue;

}


.contenedor {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  margin: 5px auto;
}


.bookcontainer {
  padding: 5px;
  height: 300px;
  width: 165px;
  background-color: rgba(85, 61, 116, 0.822);
  border-radius: 10px;
  margin: 5px auto;
  overflow: hidden;
}
.bookcontainer:hover {
  box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
  height: 310px;
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.bookcontainer p,
a {
  margin-top: auto;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.bookcontainer img {
  margin: 1%;
  width: 164px;
  height: 260px;
  display: center;
}

.imgnav {
  border: solid;
  border-color: rgb(120, 89, 179);
  align-self: center;
  padding: 5px;
  margin-top: 10px;
  list-style: none;
  background-color: rgb(141, 141, 211);
  border-radius: 10px;
  color: rgb(17, 17, 17);
  width: 250px;
  height: 74px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}


.imgnav img {
  width: 50px;
  height: 50px;
}
.imgnav img:hover {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.encabezado {
  
  height: 132px;
  padding: 5px;
  position: sticky;
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
}

.encabezado h1 {
  font-family: 'Righteous', cursive;
  text-shadow:3px 3px 4px rgb(141, 141, 211) ;
  align-self: center;

}

.logo img {
  background-color: inherit;
  width: 150px;
  height: 150px;
}

footer {
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  position: bottom;
  box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
  bottom: 0;
}


.libro {
  align-self: center;
  width: auto;
  height: auto;
  background-color:rgba(85, 61, 116, 0.822) ;
  border-radius: 5%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

a {
  color: white;
}
.divform{
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 3px 3px 3px 3px rgba(85, 61, 116, 0.822) ;
}
form{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 25%;
    width: 40%;
    background-color: rgb(41, 39, 39);
    border-radius: 10px;
    margin: 5% 15%;
    box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
}
form a{
  color: rgb(106, 233, 226);
}

form input {
  margin: 5px;
}

form label {
  margin: 5px;
}

form input:hover{
  font-weight: bolder;
}

form select {
  margin: 10px;
}

.alerta-oculta {
  color: red;
  font-weight: bolder;
  display: none;
}

.alerta-visible {
  display: block;
}

.captcha {
  font-weight: bolder;
  font-size: 20px;
  background: rgb(100, 57, 124);
  color: white;
  border-radius: 2px;
  text-align: center;
}

p a {
  font-weight: bolder;
}

 td {
  margin: 3px;
  padding: 10px;
 }

 thead th{
  overflow: hidden;
  background-color: rgb(41, 39, 39);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
 }

 tr{
   padding: 5px;
   justify-content: left;

 }

.contenedortabla{
  table-layout: fixed;
  width: 40%;
  height: 80%;
  margin: 5px auto;
  background-color: rgb(141, 141, 211);
  border-radius: 10px;
}
tfoot th{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(41, 39, 39);
}

table thead tr{
  padding-top: 5px;
  border-radius: 15px;
}
tr:nth-child(odd) {
  background-color:rgb(65, 65, 117);
}
tr:nth-child(even) {
  background-color:rgb(41, 39, 39);
}
tr:hover {
  cursor:pointer;
  background-color: rgba(85, 61, 116, 0.822);
}
td:hover{
  cursor:pointer;
  background-color: rgba(59, 30, 97, 0.822);
}
tr:first-child:hover td {
  border-top: none;
}
tr:last-child:hover td {
  border-bottom: none;
}

.libroindividual {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-self: center;
  width: auto;
  height: auto;
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  margin: 5%;

}

.portada{
  border-color: rgb(41, 39, 39);
  border-style: double;
  margin: 20px;
  width: auto;
  background-color:rgb(65, 65, 117) ;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.portada a{
  justify-self: center;
  border-color:  rgb(41, 39, 39) ;
  border-style: double;
}
.portada a:hover{

  background-color: rgba(59, 30, 97, 0.822);
}
.contenido{
  width: 30%;
  height: 100%;
  padding: 5px;
 
  border-radius: 10px;
}
.sinopsis{
  border-color:rgb(41, 39, 39) ;
  border-style: double;
  margin: 20px;
  background-color:rgb(65, 65, 117);
  width: 40% ;
  height: 30%;
  padding: 10px;
  border-radius: 10px;

}
.titulo{
  background-color:rgb(65, 65, 117) ;
  border-radius: 10px;
  margin: 20px;
  padding: 2px;
  width: 20%;
  height: 100%;
  border-style: double;
  border-color: rgb(41, 39, 39);
}
ul{
  list-style:square ;
}
.busqueda{
  height: 25%;
  align-self: center;
  padding: 4px;
  border: solid rgb(120, 89, 179);
  margin-top: 8px;
  margin-right: 8px;
  font-size: 17px;
  border-radius: 5px;
  background-color: rgb(141, 141, 211)
  ;
  
}
.busqueda:hover{
  background-color: rgb(205, 167, 241);
}

::placeholder{
  color: rgb(0, 0, 0);
}