/* Colores 
navegacion  rgb(41, 39, 39)
fondo       rgb(141, 141, 211)
item        rgba(126, 52, 211, 0.822)
*/

.background {
  background-color: rgb(141, 141, 211);
  width: 95%;
  height: 95%;
  color: aliceblue;
  padding: 2%;

}
/*-------------------------HEADER-------------------------*/
.encabezado {
  width: 100%;
  height: 10%;
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  display: flex;
  box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
  padding: 1%;
  justify-content: space-evenly;
}

.logo{
  width: 10%;
  height: 90%;
}

.logo a {
  width: 100%;
  height: 100%;
}

.logo img {
  background-color: inherit;
  width: 90%;
  height: 90%;
  margin: auto;
}

.encabezado p {
  font-size: 25px;
  font-family: 'Righteous', cursive;
  text-shadow:3px 3px 4px rgb(141, 141, 211) ;
}

.busqueda{
  width: 10%;
  height: 50%;
  margin: 3%;
  padding: 4px;
  border: solid rgb(120, 89, 179);
  font-size: 17px;
  border-radius: 5px;
  background-color: rgb(141, 141, 211); 
}

.busqueda:hover{
  background-color: rgb(205, 167, 241);
}

::placeholder{
  color: rgb(95, 0, 150);
  font-weight: bolder;
}

.imgnav {
  width: 10%;
  height: 50%;
  border: solid rgb(120, 89, 179);
  padding: 5px;
  margin: 2%;
  list-style: none;
  background-color: rgb(141, 141, 211);
  border-radius: 10px;
  color: rgb(17, 17, 17);
  display: flex;
  justify-content: space-evenly;
}

.RecuadroNav{
  width: 25%;
}

.RecuadroNav img {
  width: 75%;
  height: 75%;
  padding: 10%;
}
.RecuadroNav img:hover {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 0;
}

/*-------------TABLA----------------*/
.CatalogoTab{
  width: 99%;
  margin: 1% auto;
  
}

td {
  padding: 5px;
 }

 thead th{
  overflow: hidden;
  background-color: rgb(41, 39, 39);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
 }

 tr{
   padding: 5px;
   justify-content: left;

 }


tfoot th{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(41, 39, 39);
}

table thead tr{
  width: 100%;
  padding-top: 5px;
  border-radius: 15px;
}
tr:nth-child(odd) {
  background-color:rgb(65, 65, 117);
}
tr:nth-child(even) {
  background-color:rgb(41, 39, 39);
}
tr:hover {
  cursor:pointer;
  background-color: rgba(85, 61, 116, 0.822);
}
td:hover{
  cursor:pointer;
  background-color: rgba(59, 30, 97, 0.822);
}
tr:first-child:hover td {
  border-top: none;
}
tr:last-child:hover td {
  border-bottom: none;
}

.tabForm{
  width: 99%;
  height: 5%;
  margin: 1% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.InputTabla{
  width: 15%;
}

.tabBtn{
  width: 15%;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  margin: 5px auto;
}


.bookcontainer {
  padding: 5px;
  height: 300px;
  width: 165px;
  background-color: rgba(85, 61, 116, 0.822);
  border-radius: 10px;
  margin: 5px auto;
  overflow: hidden;
}
.bookcontainer:hover {
  box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
  height: 310px;
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.bookcontainer p,
a {
  margin-top: auto;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.bookcontainer img {
  margin: 1%;
  width: 164px;
  height: 260px;
  display: center;
}

footer {
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  position: bottom;
  box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
  bottom: 0;
}


.libro {
  align-self: center;
  width: auto;
  height: auto;
  background-color:rgba(85, 61, 116, 0.822) ;
  border-radius: 5%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

a {
  color: white;
}

/*-----------FORMULARIO-----------------*/
.divform{
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 3px 3px 3px 3px rgba(85, 61, 116, 0.822) ;
  
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    height: 25%;
    width: 100%;
    background-color: rgb(41, 39, 39);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
}
form a{
  color: rgb(106, 233, 226);
}

.formimput{
  width: min-content;
}

form input {
  margin: 5px;
}

form label {
  margin: 5px;
}

form input:hover{
  font-weight: bolder;
}

form select {
  margin: 10px;
}

.alerta-oculta {
  color: red;
  font-weight: bolder;
  display: none;
}

.alerta-visible {
  display: block;
}

.captcha {
  font-weight: bolder;
  font-size: 20px;
  background: rgb(100, 57, 124);
  color: white;
  border-radius: 2px;
  text-align: center;
}

p a {
  font-weight: bolder;
}

.libroindividual {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-self: center;
  width: auto;
  height: auto;
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  margin: 5%;

}

.portada{
  border-color: rgb(120, 89, 179);
  border-style: solid;
  margin: 20px;
  width: auto;
  background-color:rgb(65, 65, 117) ;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.portada a{
  justify-self: center;
  border-color:  rgb(120, 89, 179);
  border-style: solid;
}
.portada a:hover{

  background-color: rgba(59, 30, 97, 0.822);
}
.contenido{
  width: 30%;
  height: 100%;
  padding: 5px;
 
  border-radius: 10px;
}
.sinopsis{
  border-color:rgb(120, 89, 179);
  border-style: solid;
  margin: 20px;
  background-color:rgb(65, 65, 117);
  width: 40% ;
  height: 30%;
  padding: 10px;
  border-radius: 10px;

}
.titulo{
  background-color:rgb(65, 65, 117) ;
  border-radius: 10px;
  margin: 20px;
  padding: 2px;
  width: 20%;
  height: 100%;
  border-style:solid;
  border-color: rgb(120, 89, 179);
}
ul{
  list-style:square ;
}

