/* Colores 
navegacion  rgb(41, 39, 39)
fondo       rgb(141, 141, 211)
item        rgba(126, 52, 211, 0.822)
*/


.background {
  background-color: rgb(141, 141, 211);
  justify-content: center;
  color: aliceblue;

}


.contenedor {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  margin: 5px auto;
}


.bookcontainer {
  padding: 5px;
  height: 300px;
  width: 165px;
  background-color: rgba(126, 52, 211, 0.822);
  border-radius: 10px;
  margin: 5px auto;
  overflow: hidden;
}
.bookcontainer:hover {
  box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
  height: 310px;
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.bookcontainer p,
a {
  margin-top: auto;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.bookcontainer img {
  margin: 1%;
  width: 164px;
  height: 260px;
  display: center;
}

.imgnav {
  padding: 5px;
  margin-top: 10px;
  list-style: none;
  background-color: rgb(141, 141, 211);
  border-radius: 10px;
  color: rgb(17, 17, 17);
  width: 250px;
  height: 74px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}


.imgnav img {
  width: 50px;
  height: 50px;
}
.imgnav img:hover {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.encabezado {
  
  height: 132px;
  padding: 5px;
  position: sticky;
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
}

.encabezado h1 {
  font-family: 'Righteous', cursive;
}

.logo img {
  background-color: inherit;
  width: 100px;
  height: 100px;
}

footer {
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  position: bottom;
  box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
  bottom: 0;
}


.libro {
  align-self: center;
  width: auto;
  height: auto;
  background-color:rgba(126, 52, 211, 0.822);
  border-radius: 5%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

a {
  color: black;
}
.divform{
  height: 90%;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
  margin: 5% auto;
  box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
}
form{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 25%;
    width: 30%;
    background-color: rgb(41, 39, 39);
    border-radius: 10px;
    margin: 5% 15%;
    box-shadow: 3px 3px 3px 3px rgb(41, 39, 39);
}
form a{
  color: rgb(106, 233, 226);
}

form input:hover{
  font-weight: bolder;
}
p a {
  font-weight: bolder;
}

 td {
  margin: 3px;
  padding: 10px;
 }

 thead th{
  overflow: hidden;
  background-color: rgb(41, 39, 39);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
 }

 tr{
   padding: 5px;
   justify-content: left;

 }

.contenedortabla{
  table-layout: fixed;
  width: 40%;
  height: 80%;
  margin: 5px auto;
  background-color: rgb(141, 141, 211);
  border-radius: 10px;
}
tfoot th{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(41, 39, 39);
}

table thead tr{
  padding-top: 5px;
  border-radius: 15px;
}
tr:nth-child(odd) {
  background-color:rgb(65, 65, 117);
}
tr:nth-child(even) {
  background-color:rgb(41, 39, 39);
}
tr:hover {
  cursor:pointer;
  background-color: rgba(85, 61, 116, 0.822);
}
td:hover{
  cursor:pointer;
  background-color: rgba(59, 30, 97, 0.822);
}
tr:first-child:hover td {
  border-top: none;
}
tr:last-child:hover td {
  border-bottom: none;
}